<nav>
  <h1 style="font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;font-weight: bolder;">HTTP METHODS</h1>
  <input type="checkbox" id="check">
  <label for="check" class="checkbtn">
      <i class="fa-solid fa-bars fa-lg"></i>
  </label>
  
  <ul>
      <li><a routerLink="" >Home</a></li>
      <li><a routerLink="view" >View</a></li>
      <li><a routerLink="add" >Add</a></li>
      </ul>
</nav>
<section>
  
</section>



<router-outlet></router-outlet>
